
///
// Backgrgounds
/////////////////
.bg-white {
    background-color: $white;
}

.bg-primary {
    background-color: $primary;
}

.bg-primary-light{
    background-color: $primary-light;
}
.bg-grey-bg{
    background-color: $grey-bg;
}