@import '../../theme/_index.scss';
.notification-item {
    .uk-dropdown-nav{
        padding: 0;
        a{
            transition: color 0.3s ease-in-out;
            &:hover{
                color:$accent;
            }
        }
    }

    h4{
        font-weight: normal;
        color: $light-grey;
        @include font-size($sm-font);
    }
    p{
        @include font-size($sm-font);
    }
    .uk-comment-footer{
        //color: $light-grey;
        margin-top: 20px;
    }

    .uk-button{
        margin-left: 1px;
    }
    
}