@import '../../../../theme/_index.scss';

.sign-in-form {
    p{
        font-weight: 200;
        @include font-size($lg-font);


    }
    .uk-inline {
        width: 100%;
    }
    .uk-input {
        //    width: 100%;
        color: white;
        background: rgba(white, 0.15);
        border: none;
        border-bottom: 1px solid rgba(white, 0.5);
        font-weight: 200;
        @include font-size($xs-font);
        &::placeholder{
            color: white;
        }
        &.uk-form-danger{
            border-bottom: 1px solid $danger;
        }
    }
    .uk-button{
        width: 100%;
    }
    .uk-form-icon {
        color: white;
    }
}