@import '../../theme/_index.scss';
.app-header {
    z-index: 10;
    flex: 0 1 auto;
    
    .uk-sticky{
        background: $primary;
    }
    .uk-navbar-container {
        background: $primary;
        .uk-iconnav {
            a {
                transition: all 0.5s ease-in-out;
                color: $white;
                &:hover,
                &:active {
                    color: $white;
                }
            }
        }
    } // .uk-navbar-sticky {
    // }
    .brand {
        margin: 20px 0 10px;
        h1 {
            color: $white;
        }
        
    }
    .uk-iconnav {
        margin: 15px 0;
        li {
            &:first-child {
                margin-right: 5px;
            }
        }
        a {
            text-align: center; 
            svg {
                margin: 8px;
            }
            border-radius: 50%;
            position: relative;
            color: $white;
            overflow: hidden;
           
            img {
                width: 30px;
            }
            &:hover {
                background: rgba($primary-light,0.5);
               // color: $accent;
            }
            &.active {
                //color: ;
            }
        }
        @media (min-width: map-get($breakpoints, md)) {
            margin: 15px 30px 15px 0;

            a {
                
                svg {
                    margin: 8px;
                }
                img {
                    width: 35px;
                }
            }
        }
    }
}