.content-list-post .uk-list > li:nth-child(n+2) {
  margin-top: 0; }

.content-list-post li:nth-child(even) article {
  background: #fbfbfb; }

.content-list-post li article h4 {
  font-weight: 200; }

.content-list-post li article .uk-comment-meta {
  font-size: 11px;
  font-weight: 200; }
  @media screen and (min-width: 0) {
    .content-list-post li article .uk-comment-meta {
      font-size: 11px; } }
  @media screen and (min-width: 960px) {
    .content-list-post li article .uk-comment-meta {
      font-size: 13px; } }
  @media screen and (min-width: 1200px) {
    .content-list-post li article .uk-comment-meta {
      font-size: 14px; } }
