@import '../../../theme/_index.scss';

.content-list-post{
    .uk-list>li:nth-child(n+2){
        margin-top:0;
        
    }

    li{
        &:nth-child(even){
            article{background: $lighter-grey;}
        }
        &:nth-child(odd){
            //article{background: $white;}
        }

        article{
            img{
                
            }
            h4{
                font-weight: 200;
            }
            .uk-comment-meta{
                @include font-size($xs-font);
                font-weight: 200;
            }
        }

    }
}


  