@import './media/fonts/fonts.scss';
@import './ui/_index.scss';
@import '~uikit/dist/css/uikit.min.css';
@import "~swiper/dist/css/swiper.min.css";
//@import '~antd/dist/antd.css';
@import './theme/_index.scss';

html {
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans";
    color: $text;
    height: 100%;
}
#root {
    background: $primary;
    height: 100%;
    display: flex;
    flex-flow: column;
}

a {
    color:$accent;
    //@include transition(all 0.3s ease-in-out);
    &:hover{
        text-decoration: none;
    }
}



.app {
    position: relative;
}

h1,
h2,
h3 {
    font-family: "Open Sans";
}

.brand {
    h1 {
        position: relative;
        font-family: 'OrigramPro';
        top: -50%;
        padding: 0;
        @include font-size($lg-font);
        font-weight: normal;
        display: inline-block;
        margin: 0;
        &:after {
            display: block;
            width: 100%;
            height: 100%;
            content: attr(title);
            position: absolute;
            font-family: 'OrigramPro-Shadows';
            left: 50%;
            top: 50%;
            transform: translateX(-50%) translateY(-50%);
            color: rgba(0, 0, 0, 0.3);
        }
        img {
            position: absolute;
            right: -0.5em;
            top: -0.7em;
            width: 1.4em;
        }
    }
}

.uk-tooltip {
    background-color: rgba(black, 0.8);
}

.uk-overlay-default{
    background-color: rgba($white,0.1);
}